{
  "plugins": ["@theforeman/foreman", "spellcheck"],
  "extends": [
    "plugin:@theforeman/foreman/core",
    "plugin:@theforeman/foreman/plugins"
  ],
  "rules": {
    "spellcheck/spell-checker": [
      "error",
      {
        "identifiers": false,
        "ignoreRequire": true,
        "skipWords": [
          "ansible",
          "camelcase",
          "donut",
          "hostnames",
          "ips",
          "ipv4",
          "jed",
          "katello",
          "knowledgebase",
          "noopener",
          "noreferrer",
          "nowrap",
          "pid",
          "redhat",
          "remediations",
          "repo",
          "theforeman",
          "tooltip",
          "unmount"
        ],
        "minLength": 3
      }
    ]
  }
}
