{
  "plugins": ["@theforeman/foreman", "spellcheck"],
  "extends": [
    "plugin:@theforeman/foreman/core",
    "plugin:@theforeman/foreman/plugins"
  ],
  "rules": {
    "spellcheck/spell-checker": [
      "error",
      {
        "identifiers": false,
        "ignoreRequire": true,
        "skipWords": [
          "advisor",
          "ansible",
          "auditd",
          "camelcase",
          "cdn",
          "checkbox",
          "cpol",
          "csrf",
          "cryptopol",
          "cve",
          "cves",
          "db",
          "donut",
          "dropdown",
          "flyout",
          "hardening",
          "hostid",
          "hostnames",
          "href",
          "iop",
          "ips",
          "ipv4",
          "jed",
          "katello",
          "knowledgebase",
          "krb5",
          "noopener",
          "noreferrer",
          "nowrap",
          "openssh",
          "pid",
          "redhat",
          "redux",
          "rebootable",
          "remediate",
          "remediations",
          "repo",
          "rhc",
          "rulename",
          "scalprum",
          "theforeman",
          "tooltip",
          "unmount",
          "vnd",
          "vuln"
        ],
        "minLength": 3
      }
    ]
  }
}
