.rh-cloud-recommendations-table {
  .pf-v5-c-table__check {
    input:disabled {
      display: none;
    }
  }

  .td-insights-remediate-playbook {
    svg {
      margin-right: 5px;
    }
  }

  .td-insights-remediate-manual {
    padding-left: 18px;
  }
}
