.rh-cloud-inventory-page {
  .inventory-upload-header {
    margin-top: 35px;

    h1 {
      font-family: 'RedHatDisplay';
      font-weight: 400;
      margin: 0;
    }

    p {
      font-size: 16px;
    }

    .pf-c-dropdown__toggle {
      margin-right: -20px;
    }

    .settings-alert {
      margin-bottom: 30px;
      .pf-c-alert {
        margin-bottom: 5px;

        .pf-c-alert__title {
          font-size: var(--pf-global--FontSize--md);
          line-height: var(--pf-global--LineHeight--md);
        }
      }
    }

    .inventory-upload-header-description {
      overflow: auto;
    }

    .inventory-upload-header-title {
      margin-top: -15px;
      margin-bottom: 8px;
    }

    .title-dropdown {
      float: right;
    }
  }
}
