.rh-cloud-inventory-page {
  .inventory-upload-header {
    padding: var(--pf-v5-global--spacer--md) 0 var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--lg);

    h1 {
      font-family: 'RedHatDisplay';
      font-weight: 400;
      margin: 0;
    }

    p {
      font-size: 16px;
    }

    .pf-v5-c-dropdown__toggle {
      margin-right: 0;
    }

    .settings-alert {
      margin-bottom: 30px;
      .pf-v5-c-alert {
        margin-bottom: 5px;

        .pf-v5-c-alert__title {
          font-size: var(--pf-v5-global--FontSize--md);
          line-height: var(--pf-v5-global--LineHeight--md);
        }
      }
    }

    .inventory-upload-header-description {
      overflow: auto;
    }

    .inventory-upload-header-title {
      margin-bottom: 8px;
    }

    .title-dropdown {
      float: right;
      margin-right: -24px;
    }
  }
}
