.queue_error {
  color: #f00;
}

.reports_queue {
  .item {
    margin-bottom: 10px;

    .fa {
      &.fa-download {
        // margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}
