#inventory_filter_form {
  .pf-v5-c-form__group {
    margin-bottom: 0;
  }

  .pf-v5-c-input-group {
    width: 100%;
    position: relative;

    .pf-v5-c-input-group__item {
      &:last-child {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        pointer-events: auto;

        .pf-v5-c-button {
          margin-right: 8px;
        }
      }

      &:first-child {
        flex: 1;

        .pf-v5-c-form-control {
          padding-right: 40px;
        }
      }
    }
  }
}
