.terminal {
  height: 200px;
  background-color: #222;
  padding: 10px 0;
  margin-bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;

  p {
    font-family: monospace;
    font-size: 16px;
    color: #22da26;

    &.terminal_error {
      color: #f00;
    }
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #aaa;
  }

  &::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
}
