#sync_modal {
  height: 300px;
  margin: auto;
  overflow: hidden;

  .modal-content {
    width: 700px;
  }

  .modal-body {
    .container {
      padding: 0;

      button {
        float: right;
        margin-top: 10px;
      }
    }
  }
}
