.insights_settings {
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  top: 75px;
  right: 20px;

  h3 {
    margin-top: 0;
    font-weight: 600;
  }

  .switcher-help-label {
    padding-left: 5px;
  }
}
