#host_details_insights_tab {
  #btn_toolbar {
    float: right;
  }

  #btn_fullscreen {
    margin-left: 5px;

    .fa-arrows-alt {
      margin-left: 5px;
    }
  }

  h2 {
    margin-top: 5px;
  }

  #hits_list {
    max-height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 15px;

    .list-view-pf-expand {
      padding: 0;
    }

    .list-group-item-header {
      .list-view-pf-expand .fa-angle-right {
        margin-top: 6px;
      }

      .list-view-pf-main-info .list-view-pf-description {
        width: 83%;

        .list-group-item-heading {
          width: 375px;
        }

        p {
          margin: 0;
          font-size: 14px;
        }
      }

      .list-view-pf-additional-info {
        .risk-label {
          padding: 5px 8px;
          border-radius: 12px;

          &.risk-1 {
            background-color: #e7f1fa;
          }

          &.risk-2 {
            background-color: #fdf7e7;
          }

          &.risk-3 {
            background-color: #f9dddd;
          }

          &.risk-4 {
            background-color: #ffecec;
          }

          p {
            margin: 0;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background: #222;
      border-radius: 6px;
      border: 3px solid transparent;
      background-clip: content-box;
    }
  }
}

#new_host_details_insights_tab {
  padding: 24px;
}

#rh-cloud-total-risk-card {
  svg {
    tspan:nth-child(2) {
      fill: black !important;
    }

    g:nth-child(2) {
      path {
        cursor: pointer;
      }
    }

    g:nth-child(3) {
      a {
        text {
          tspan {
            fill: var(--pf-global--link--Color) !important;
            text-decoration: underline;
            text-decoration-color: var(--pf-global--link--Color) !important;
          }
        }
      }
    }
  }
}
