.rh-cloud-insights {
  #main {
    padding: 4px;

    #breadcrumb .form-group {
      margin-bottom: 0;

      h1 {
        font-family: 'RedHatDisplay';
        font-weight: 400;
        margin-bottom: 8px;
      }
    }

    .title_filter {
      width: 520px;
    }

    #title_action {
      width: calc(100% - 520px);
    }

    @media (max-width: 1138px) {
      #title_action {
        width: 70%;
      }
    }

    .search-bar {
      // Giving pf3 search bar a pf4 look
      width: 500px;
      .search-bar {
        display: block;
      }
      .input-group {
        display: table;
      }
      .input-group-btn {
        .btn-group {
          z-index: unset; // so the bookmarks drop down will be above other search boxes
        }
        .autocomplete-search-btn {
          display: none;
        }
        .dropdown-toggle {
          font-size: 16px;
          background-color: white;
          background-image: none;
          padding-bottom: 4px;
          padding-top: 4px;
        }
        .scrollable-dropdown {
          max-width: 250px;
        }
      }
      li {
        font-size: 16px;
      }
      input {
        font-size: 16px;
        height: 36px;
      }
      .foreman-autocomplete .autocomplete-focus-shortcut {
        top: 8px;
        font-size: 16px;
      }
      .foreman-autocomplete .autocomplete-aux {
        top: 8px;
        font-size: 16px;
        .autocomplete-clear-button {
          font-size: 16px;
        }
      }
    }

    .btn-toolbar {
      display: inherit;
      width: 100%;
    }

    .pf-v5-c-pagination {
      padding-right: 0;
    }
  }
}
