.rh-cloud-insights {
  #main {
    padding: 0;

    #breadcrumb .form-group {
      margin-bottom: 0;

      h1 {
        font-weight: bold;
      }
    }

    .btn-toolbar {
      display: inherit;
      width: 100%;
    }

    .pf-c-pagination {
      padding-right: 0;
    }
  }
}
