label.foreman-rh-cloud-switcher {
  display: block;
  font-weight: 400;
  margin-bottom: 5px;

  .switcher-help-label {
    padding-left: 5px;
  }

  .pf-v5-c-switch__toggle {
    margin-right: 5px;
  }
}
